* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 150%;
}

body {
    background-color: lightgoldenrodyellow;
    
}

#page {
    box-sizing: border-box;
    width: 800px;
    height: 24px;
    background-color: antiquewhite;
    border-radius: 24px;
    margin: 48px auto 28px;
}

#page img {
    width: 100%;        
    display: block;      
    border-radius: 16px 16px 0 0; 
}

main {
    padding: 24px;
}

section  + section {
    margin-top: 24px;
}

#about p + p {
    margin-top: 12px;
}

h1 {
    line-height: 140%;
    font-size: 40px;
    margin-bottom: 4px;
}

h2 {
    font-size: 24px;
}

h1, h2 {
    color: black;
    margin-bottom: 4px;
    line-height: 150%;
}   

ol, ul {
    padding-left: 24px;
}

a {
    text-decoration: none;
}

footer { 
    color: black;
    text-align: center;
    padding-bottom: 48px;

}